# ignore dot files/directories
.*
!.gitignore
*.autosave
*.pyc
*.user
*~
Thumbs.db
tags
tegra/
bin/
*.sdf
*.opensdf
*.obj
*.stamp
*.depend
*.rule
*.tmp
*/debug
*.suo
*.log
*.tlog
build
node_modules
CMakeSettings.json

# Ignore video file and image file
*.mp4
*.mkv
*.avi
*.jpg
*.jpeg
*.png

# Ignore OpenCV CMake, samples, exe
samples/
*.cmake
*.make
stitching_video/stitching
stitching_video/CMakeFiles
*.txt
*.o

# Ignore stitching_video python venv
stitching_video/python/stitch-venv/
# Ignore test file
stitching_test  